In [1]:
# dependencies
import pandas as pd

In [2]:
# PH 1
DATA_PATH = "./listings__20251027_061613.csv"

df = pd.read_csv(DATA_PATH)

In [3]:
df.head()

,url,title,location,house_type,bathrooms,bedrooms,properties,amenities,price
0,https://jiji.com.gh/north-legon/houses-apartme...,1bdrm Apartment in North Legon for rent,"Greater Accra, North Legon, 3 hours ago",Apartment,1 bathroom,1 bedroom,"{'Property Address': 'North Legon', 'Property ...",NaN,"GH₵ 2,500"
1,https://jiji.com.gh/school-junction/houses-apa...,"2bdrm Apartment in Nanakrom, School Junction f...","Greater Accra, Ashaley Botwe, Ashaley Botwe Sc...",Apartment,2 bathrooms,2 bedrooms,"{'Property Address': 'School Junction', 'Estat...",NaN,"GH₵ 3,000"
2,https://jiji.com.gh/malejor/houses-apartments-...,"2bdrm Apartment in Adenta Dodowa, Malejor for ...","Greater Accra, Adenta, Malejor, 3 hours ago",Apartment,2 bathrooms,2 bedrooms,"{'Property Address': 'Major', 'Estate Name': '...",NaN,"GH₵ 2,000"
3,https://jiji.com.gh/cantonments/houses-apartme...,"4bdrm House in Cantonment, Cantonments for rent","Greater Accra, Cantonments, 3 hours ago",House,4 bathrooms,4 bedrooms,"{'Property Address': 'Cantonment', 'Estate Nam...",NaN,"GH₵ 72,000"
4,https://jiji.com.gh/american-house/houses-apar...,1bdrm Apartment in American House for rent,"Greater Accra, East Legon, American House, 3 h...",Apartment,1 bathroom,1 bedroom,"{'Property Address': 'American House', 'Proper...",NaN,"GH₵ 3,500"

In [4]:
df.columns

Index(['url', 'title', 'location', 'house_type', 'bathrooms', 'bedrooms',
       'properties', 'amenities', 'price'],
      dtype='object')

In [5]:
df.isna().sum()

url              0
title            0
location         0
house_type      29
bathrooms        3
bedrooms         3
properties       0
amenities     2365
price            0
dtype: int64

In [6]:
df["location"].unique()

array(['Greater Accra, North Legon, 3 hours ago',
       'Greater Accra, Ashaley Botwe, Ashaley Botwe School Junction, 3 hours ago',
       'Greater Accra, Adenta, Malejor, 3 hours ago', ...,
       'Greater Accra, Ablekuma, 29/07',
       'Greater Accra, Awoshie, A-Lang / Awoshie, 03/06',
       'Greater Accra, Tema Metropolitan, 29/07'],
      shape=(4533,), dtype=object)

In [7]:
df["sub_loc"] = df["location"].str.split(",").str.get(1).str.strip()
df[["sub_loc", "location"]].head()

         sub_loc                                           location
0    North Legon            Greater Accra, North Legon, 3 hours ago
1  Ashaley Botwe  Greater Accra, Ashaley Botwe, Ashaley Botwe Sc...
2         Adenta        Greater Accra, Adenta, Malejor, 3 hours ago
3    Cantonments            Greater Accra, Cantonments, 3 hours ago
4     East Legon  Greater Accra, East Legon, American House, 3 h...

In [26]:
df["sub_loc"].unique()

array(['North Legon', 'Ashaley Botwe', 'Adenta', 'Cantonments',
       'East Legon', 'Teshie', 'Abokobi', 'Oyarifa', 'Achimota',
       'Ga West Municipal', 'Amrahia', 'Dome', 'Tantra Hills', 'Spintex',
       'Adjiriganor', 'Abelemkpe', 'Pokuase', 'McCarthy Hill', 'Agbogba',
       'West Legon', 'Old Ashomang', 'Accra Metropolitan',
       'Airport Residential Area', 'Haatso', 'Tema Metropolitan',
       'Taifa-Burkina', 'Gbawe', 'Ablekuma', 'Weija', 'Madina', 'Awoshie',
       'Nungua', 'Ofankor', 'Dansoman', 'Oyibi', 'Ga South Municipal',
       'Ashomang Estate', 'Ashaiman Municipal', 'Odorkor', 'Lapaz',
       'Kasoa', 'Osu', 'Sowutwuom', 'Dzorwulu', 'Kaneshie', 'Darkuman',
       'Mataheko', 'Greater Accra', 'Kotobabi', 'Lartebiokoshie',
       'Tesano', 'Labadi', 'Anyaa', 'Labone', 'Ga East Municipal',
       'Burma Camp', 'Ridge', 'Dworwulu', 'Asylum Down', 'Danfa',
       'Santa Maria', 'North Industrial Area', 'Nima', 'Dodowa',
       'Roman Ridge', 'Kwashieman', 'Ledzokuku-Krowor', 'Adabraka',
       'Kokomlemle', 'Mamprobi', 'Accra New Town', 'Banana Inn', 'Abofu',
       'Bubuashie', 'South La', 'Alajo', 'South Shiashie', 'Circle',
       'Lartebiokorshie', 'Little Legon', 'Ningo-Prampram', 'Korle Gonno'],
      dtype=object)

In [9]:
def getSubLoc(loc):
    parts = str(loc).split(",")
    if len(parts) >= 3:
        return parts[1].strip()
    return parts[0]

In [10]:
df["sub_loc"] = df["location"].apply(getSubLoc)

In [11]:
df["sub_loc"].unique()

array(['North Legon', 'Ashaley Botwe', 'Adenta', 'Cantonments',
       'East Legon', 'Teshie', 'Abokobi', 'Oyarifa', 'Achimota',
       'Ga West Municipal', 'Amrahia', 'Dome', 'Tantra Hills', 'Spintex',
       'Adjiriganor', 'Abelemkpe', 'Pokuase', 'McCarthy Hill', 'Agbogba',
       'West Legon', 'Old Ashomang', 'Accra Metropolitan',
       'Airport Residential Area', 'Haatso', 'Tema Metropolitan',
       'Taifa-Burkina', 'Gbawe', 'Ablekuma', 'Weija', 'Madina', 'Awoshie',
       'Nungua', 'Ofankor', 'Dansoman', 'Oyibi', 'Ga South Municipal',
       'Ashomang Estate', 'Ashaiman Municipal', 'Odorkor', 'Lapaz',
       'Kasoa', 'Osu', 'Sowutwuom', 'Dzorwulu', 'Kaneshie', 'Darkuman',
       'Mataheko', 'Greater Accra', 'Kotobabi', 'Lartebiokoshie',
       'Tesano', 'Labadi', 'Anyaa', 'Labone', 'Ga East Municipal',
       'Burma Camp', 'Ridge', 'Dworwulu', 'Asylum Down', 'Danfa',
       'Santa Maria', 'North Industrial Area', 'Nima', 'Dodowa',
       'Roman Ridge', 'Kwashieman', 'Ledzokuku-Krowor', 'Adabraka',
       'Kokomlemle', 'Mamprobi', 'Accra New Town', 'Banana Inn', 'Abofu',
       'Bubuashie', 'South La', 'Alajo', 'South Shiashie', 'Circle',
       'Lartebiokorshie', 'Little Legon', 'Ningo-Prampram', 'Korle Gonno'],
      dtype=object)

In [12]:
ht = df["house_type"].nunique()
print(f"No. of unique housetypes: {ht}")
mht = df["house_type"].isna().sum()
print(f"No. of nans: {mht}")
df["house_type"].unique()

No. of unique housetypes: 19
No. of nans: 29

array(['Apartment', 'House', 'Townhouse / Terrace', 'Penthouse', 'Duplex',
       'Room & Parlour', 'Maisonette', 'Mansion', 'Bungalow', 'Townhouse',
       'Studio Apartment', 'Shared Apartment', nan, 'Mini Flat', 'Condo',
       'Block of Flats', 'Villa', 'Farm House', 'Chalet',
       'Townhouse/Terrace'], dtype=object)

In [13]:
df[df["house_type"].isna()].head()

,url,title,location,house_type,bathrooms,bedrooms,properties,amenities,price,sub_loc
805,https://jiji.com.gh/boundary-road-area/houses-...,"3bdrm Bedsitter in E a Properties, Boundary Ro...","Greater Accra, East Legon, Boundary Road Area,...",NaN,3 bathrooms,3 bedrooms,"{'Property Address': 'eastlegon hills', 'Estat...",NaN,"GH₵ 3,100",East Legon
1874,https://jiji.com.gh/kasoa/houses-apartments-fo...,1bdrm Bedsitter in Kasoa Tv3 for rent,"Greater Accra, Kasoa, 5 min ago",NaN,1 bathroom,1 bedroom,"{'Property Address': 'Kasoa', 'Estate Name': '...","24-hour Electricity,Dining Area,Dishwasher,Kit...",GH₵ 350,Kasoa
1984,https://jiji.com.gh/teshie/houses-apartments-f...,"Furnished 1bdrm Bedsitter in Adom Agency, Tesh...","Greater Accra, Teshie, 7 min ago",NaN,1 bathroom,1 bedroom,"{'Property Address': 'Lekma hospital Road', 'E...",NaN,"GH₵ 3,000",Teshie
2392,https://jiji.com.gh/adam-nana/houses-apartment...,"1bdrm Bedsitter in Kasoa Lamptey Mills, Adam N...","Greater Accra, Kasoa, Adam Nana, 11 min ago",NaN,1 bathroom,1 bedroom,{'Property Address': 'Chis-Lon Real Estate Age...,"24-hour Electricity,Kitchen Cabinets,Kitchen S...",GH₵ 400,Kasoa
3291,https://jiji.com.gh/ga-east-municipal/houses-a...,in Ga East Municipal for rent,"Greater Accra, Ga East Municipal, 21 min ago",NaN,NaN,NaN,{},NaN,"GH₵ 1,200",Ga East Municipal

In [14]:
df.loc[df['house_type'].isna(),'house_type'] = 'Bedsitter'

In [15]:
df['house_type'].isna().sum()

np.int64(0)

In [16]:
df["bathrooms"].unique()

array(['1 bathroom', '2 bathrooms', '4 bathrooms', '5 bathrooms',
       '3 bathrooms', '6 bathrooms', '8 bathrooms', '10 bathrooms',
       '7 bathrooms', '18 bathrooms', '11 bathrooms', '20 bathrooms',
       '9 bathrooms', '12 bathrooms', nan, '15 bathrooms'], dtype=object)

In [17]:
df['bathrooms'].isna().sum()

np.int64(3)

In [18]:
df[df['bathrooms'].isna()]

,url,title,location,house_type,bathrooms,bedrooms,properties,amenities,price,sub_loc
3291,https://jiji.com.gh/ga-east-municipal/houses-a...,in Ga East Municipal for rent,"Greater Accra, Ga East Municipal, 21 min ago",Bedsitter,NaN,NaN,{},NaN,"GH₵ 1,200",Ga East Municipal
4348,https://jiji.com.gh/nungua/houses-apartments-f...,in Nungua for rent,"Greater Accra, Nungua, 33 min ago",Bedsitter,NaN,NaN,{},NaN,"GH₵ 1,400",Nungua
12985,https://jiji.com.gh/east-legon/houses-apartmen...,in East Legon for rent,"Greater Accra, East Legon, 3 hours ago",Bedsitter,NaN,NaN,{},NaN,"GH₵ 5,000",East Legon

In [19]:
df.dropna(subset=['bathrooms'],inplace=True)

In [20]:
df["bathrooms_"] = df["bathrooms"].str.split(" ").str.get(0).str.strip()

In [21]:
df[["bathrooms_", "bathrooms"]].head()

  bathrooms_    bathrooms
0          1   1 bathroom
1          2  2 bathrooms
2          2  2 bathrooms
3          4  4 bathrooms
4          1   1 bathroom

In [22]:
df["bedrooms"].unique()

array(['1 bedroom', '2 bedrooms', '4 bedrooms', '3 bedrooms',
       '5 bedrooms', '6 bedrooms', '8 bedrooms', '9 bedrooms',
       '7 bedrooms', '18 bedrooms', '10 bedrooms', '11 bedrooms',
       '20 bedrooms', '12 bedrooms', '14 bedrooms', '13 bedrooms',
       '16 bedrooms', '15 bedrooms'], dtype=object)

In [23]:
df['bedrooms'].isna().sum()

np.int64(0)

In [24]:
df["bedrooms_"] = df["bedrooms"].str.split(" ").str.get(0).str.strip()

In [25]:
df[["bedrooms_", "bedrooms"]].head()

  bedrooms_    bedrooms
0         1   1 bedroom
1         2  2 bedrooms
2         2  2 bedrooms
3         4  4 bedrooms
4         1   1 bedroom